name: Docker

on:
  push:
    branches: [ "master" ]
    paths:
      - Dockerfile
      - .github/workflows/**
  pull_request:
    branches: [ "master" ]
    paths:
      - Dockerfile
      - .github/workflows/**

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: jescholl/atlantis-terragrunt

  # renovate: datasource=docker depName=ghcr.io/runatlantis/atlantis
  ATLANTIS_VERSION: v0.37.1
  # renovate: datasource=github-releases depName=gruntwork-io/terragrunt
  TERRAGRUNT_VERSION: v0.93.11

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract metadata (tags, labels) for Docker
      # https://github.com/docker/metadata-action
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.ATLANTIS_VERSION }}_${{ env.TERRAGRUNT_VERSION }},priority=1000
            type=raw,value=latest,enable={{is_default_branch}},priority=600

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          build-args: |
            ATLANTIS_VERSION=${{ env.ATLANTIS_VERSION }}
            TERRAGRUNT_VERSION=${{ env.TERRAGRUNT_VERSION }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
